*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

body {
  font: 400 16px/1.6 'Roboto', sans-serif;
  background: #34495e;
  color: #34495e;
  overflow-x: hidden; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

.expense-holder {
  padding: 20px 30px;
  border-radius: 5px;
  max-width: 510px;
  border: 1px solid;
  margin: 40px auto 0;
  background-color: #fff; }

.exp-header {
  text-align: center; }
  .exp-header .balance {
    font-size: 25px;
    font-weight: bolder; }

.exp-tracker {
  display: flex;
  padding: 10px; }
  .exp-tracker .exp-box {
    min-width: 120px;
    flex: 1; }
    .exp-tracker .exp-box .income-text {
      color: #2ecc71; }
    .exp-tracker .exp-box .expense-text {
      color: #e74c3c; }
    .exp-tracker .exp-box h4 {
      font-size: 24px;
      font-weight: bolder; }
    .exp-tracker .exp-box:last-child {
      border-left: 1px solid #333; }

.transactions {
  display: flex;
  justify-content: center; }
  .transactions .item {
    flex: 1;
    padding: 0 10px; }

.transactions {
  margin: 40px -10px 0; }
  .transactions .input-box {
    margin-bottom: 10px;
    position: relative; }
    .transactions .input-box input {
      width: 100%;
      padding: 5px 10px;
      font-size: 16px;
      outline: none;
      border: none;
      border: 1px solid #b5b5b5;
      border-radius: 3px; }
    .transactions .input-box .icon-box {
      padding-left: 30px; }
  .transactions .transaction-icon {
    position: absolute;
    left: 5px;
    width: 20px;
    top: 50%;
    font-size: 25px;
    transform: translateY(-50%);
    user-select: none; }
    .transactions .transaction-icon.expense {
      transform: translateY(-55%); }
  .transactions .btn {
    display: block;
    width: 100%;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    color: #fff;
    outline: none; }
  .transactions .btn-income {
    background-color: #2ecc71; }
  .transactions .btn-expense {
    background-color: #e74c3c; }

.records {
  padding: 20px 0; }
  .records .rec-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .records .rec-header h4 {
      text-align: left; }
    .records .rec-header button {
      background: #5e7bfc;
      color: #fff;
      padding: 4px 10px;
      border-radius: 30px;
      font-size: 14px; }

.record-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: left; }
  .record-menu li {
    padding: 2px 18px;
    margin-bottom: 15px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px #b3b3b3;
    font-size: 20px;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none; }
    .record-menu li .inc-number {
      margin-left: auto; }
    .record-menu li:hover button {
      opacity: 1; }
  .record-menu .income::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #2ecc71;
    height: 100%;
    width: 7px; }
  .record-menu .expense::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e74c3c;
    height: 100%;
    width: 7px; }
  .record-menu button {
    font-size: 18px;
    background: transparent;
    color: red;
    position: absolute;
    left: -25px;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-out; }

input[type='number'] {
  -moz-appearance: textfield; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }
